services:
  - class: jbboehr\PHPStanLostInTranslation\LostInTranslationHelper
  - class: jbboehr\PHPStanLostInTranslation\TranslationLoader\PhpLoader
  - class: jbboehr\PHPStanLostInTranslation\TranslationLoader\JsonLoader
  - class: jbboehr\PHPStanLostInTranslation\TranslationLoader\TranslationLoader
    arguments:
        baseLocale: %lostInTranslation.baseLocale%
        langPath: %lostInTranslation.langPath%
  - class: jbboehr\PHPStanLostInTranslation\UnusedTranslationStringCollector
  - class: jbboehr\PHPStanLostInTranslation\DynamicTranslationStringRule
  - class: jbboehr\PHPStanLostInTranslation\InvalidChoiceRule
  - class: jbboehr\PHPStanLostInTranslation\InvalidReplacementRule
  - class: jbboehr\PHPStanLostInTranslation\MissingTranslationStringInBaseLocaleRule
  - class: jbboehr\PHPStanLostInTranslation\MissingTranslationStringRule
  - class: jbboehr\PHPStanLostInTranslation\UnusedTranslationStringFakeCollectorRule
  - class: jbboehr\PHPStanLostInTranslation\UnusedTranslationStringRule

conditionalTags:
	jbboehr\PHPStanLostInTranslation\UnusedTranslationStringCollector:
		phpstan.collector: %lostInTranslation.unusedTranslationStrings%
	jbboehr\PHPStanLostInTranslation\DynamicTranslationStringRule:
		phpstan.rules.rule: %lostInTranslation.disallowDynamicTranslationStrings%
	jbboehr\PHPStanLostInTranslation\InvalidChoiceRule:
		phpstan.rules.rule: %lostInTranslation.invalidChoices%
	jbboehr\PHPStanLostInTranslation\InvalidReplacementRule:
		phpstan.rules.rule: %lostInTranslation.invalidReplacements%
	jbboehr\PHPStanLostInTranslation\MissingTranslationStringInBaseLocaleRule:
		phpstan.rules.rule: %lostInTranslation.missingTranslationStringsInBaseLocale%
	jbboehr\PHPStanLostInTranslation\MissingTranslationStringRule:
		phpstan.rules.rule: %lostInTranslation.missingTranslationStrings%
	jbboehr\PHPStanLostInTranslation\UnusedTranslationStringFakeCollectorRule:
		phpstan.rules.rule: %lostInTranslation.unusedTranslationStrings%
	jbboehr\PHPStanLostInTranslation\UnusedTranslationStringRule:
		phpstan.rules.rule: %lostInTranslation.unusedTranslationStrings%

parametersSchema:
    lostInTranslation: structure([
        disallowDynamicTranslationStrings: bool(),
        baseLocale: schema(string(), nullable()),
        invalidChoices: bool()
        invalidReplacements: bool()
        langPath: schema(string(), nullable()),
        missingTranslationStringsInBaseLocale: bool(),
        missingTranslationStrings: bool(),
        unusedTranslationStrings: bool()
    ])

parameters:
    lostInTranslation:
        disallowDynamicTranslationStrings: false
        baseLocale: null
        invalidChoices: true
        invalidReplacements: true
        langPath: null
        missingTranslationStringsInBaseLocale: true
        missingTranslationStrings: true
        unusedTranslationStrings: false
