services:
  - class: jbboehr\PHPStanLostInTranslation\LostInTranslationHelper
    arguments:
        allowDynamicTranslationStrings: %lostInTranslation.allowDynamicTranslationStrings%
        baseLocale: %lostInTranslation.baseLocale%
        reportLikelyUntranslatedInBaseLocale: %lostInTranslation.reportLikelyUntranslatedInBaseLocale%
  - class: jbboehr\PHPStanLostInTranslation\LostInTranslationRule
  - class: jbboehr\PHPStanLostInTranslation\TranslationLoader
    arguments:
        langPath: %lostInTranslation.langPath%
  - class: jbboehr\PHPStanLostInTranslation\LostInTranslationCollector
    tags:
      - phpstan.collector

parametersSchema:
    lostInTranslation: structure([
        allowDynamicTranslationStrings: bool(),
        baseLocale: schema(string(), nullable()),
        langPath: schema(string(), nullable()),
        reportLikelyUntranslatedInBaseLocale: bool()
    ])

parameters:
    lostInTranslation:
        allowDynamicTranslationStrings: true
        baseLocale: null
        langPath: null
        reportLikelyUntranslatedInBaseLocale: true
