services:
  - class: jbboehr\PHPStanLostInTranslation\LostInTranslationHelper
    arguments:
        allowDynamicTranslationStrings: %lostInTranslation.allowDynamicTranslationStrings%
  - class: jbboehr\PHPStanLostInTranslation\TranslationLoader
    arguments:
        langPath: %lostInTranslation.langPath%
  - class: jbboehr\PHPStanLostInTranslation\Rules\LangFacadeStaticCallRule
  - class: jbboehr\PHPStanLostInTranslation\Rules\TransChoiceFuncCallRule
  - class: jbboehr\PHPStanLostInTranslation\Rules\TransFuncCallRule
  - class: jbboehr\PHPStanLostInTranslation\Rules\TranslatorMethodCallRule

parametersSchema:
    lostInTranslation: structure([
        allowDynamicTranslationStrings: bool(),
        baseLocale: schema(string(), nullable()),
        langPath: schema(string(), nullable()),
        reportLikelyUntranslatedInBaseLocale: bool()
    ])

parameters:
    lostInTranslation:
        allowDynamicTranslationStrings: true
        baseLocale: null
        langPath: null
        reportLikelyUntranslatedInBaseLocale: true
