{
    source: {
        directories: [
            "src",
        ],
    },
    timeout: 30,
    threads: 4,
    minMsi: 80,
    minCoveredMsi: 80,
    logs: {
        text: "infection.log",
        summary: "infection-summary.log",
    },
    testFramework: "phpunit",
    mutators: {
        "@default": true,
    },
}
