includes:
    - ../vendor/larastan/larastan/extension.neon
    - ../vendor/tomasvotruba/bladestan/config/extension.neon
    - ../extension.neon

parameters:
    viewDirectories:
        # this path is relative to the CWD?
        - ./tests/resources
    lostInTranslation:
        langPath: tests/lang
