includes:
    - ../extension.neon

parameters:
    lostInTranslation:
        bridgeBladeDiagnostics: false
        invalidLocales: false
        translationLoaderErrors: false
        unusedTranslationStrings: false
