parameters:
    level: max
    paths:
    - src
    - lang
    viewDirectories:
        # relative to CWD?
        - ./e2e/resources
    bootstrapFiles:
    - phpstan-bootstrap.php
    lostInTranslation:
        disallowDynamicTranslationStrings: true
        # relative to CWD?
        langPath: ./e2e/lang
        reportPossiblyUnusedTranslations: true

includes:
    - ../vendor/larastan/larastan/extension.neon
    - ../vendor/tomasvotruba/bladestan/config/extension.neon
    - ../extension.neon
