includes:
    - phpstan.neon.dist
    - vendor/jbboehr/phpstan-lost-in-translation/extension.neon

parameters:
    lostInTranslation:
        langPath: lang
        baseLocale: en
        fuzzySearch: false
